<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" enabled="true">
    <classes>
      <class name="com.pwc.productcentral.SanityTestCases">
      <methods>
      <include name="WEB_1"/>
       <include name="WEB_2"/>
       <include name="WEB_3"/>
       <include name="WEB_4"/>
       <include name="WEB_5"/>
       <include name="WEB_5_2"/>
       <include name="WEB_6"/>
       <include name="WEB_7"/>
       <include name="WEB_8"/>
       <include name="WEB_9"/>
       <include name="WEB_10"/>
       <include name="WEB_11"/>
       <include name="WEB_12"/>
       <include name="WEB_13"/>
       <include name="WEB_13_1"/>
       <include name="WEB_13_2"/>
       <include name="WEB_13_3"/>
       <include name="WEB_14"/>
       <include name="WEB_14_1"/>
       <include name="WEB_14_2"/>
       <include name="WEB_14_3"/>
       <include name="WEB_15"/>
       <include name="WEB_16"/>
       <include name="WEB_17"/>
       <include name="WEB_18"/>
       <include name="WEB_19"/>
       <include name="WEB_20"/>
       <include name="WEB_21"/>
       <include name="WEB_22"/>
       <include name="WEB_23"/>
       <include name="WEB_24"/>
       <include name="WEB_25"/>
       <include name="WEB_26"/>
       <include name="WEB_27"/>
       <include name="WEB_28"/>
       <include name="WEB_29"/>
       <include name="WEB_30"/>
       <include name="WEB_31"/>
       <include name="WEB_31_1"/>
       <include name="WEB_32"/>
       <include name="WEB_33"/>
       <include name="WEB_34"/>
       <include name="WEB_35"/>
       <include name="WEB_36"/>
       <include name="WEB_37"/>
       <include name="WEB_38"/>
       <include name="WEB_39"/>
       <include name="WEB_40"/>
       <include name="WEB_41"/>
       <include name="WEB_42"/>
       <include name="WEB_43"/>
       <include name="WEB_44"/>
       <include name="WEB_45"/>
       <include name="WEB_46"/>
       <include name="WEB_47"/>
       <include name="WEB_48"/>
       <include name="WEB_49"/>
       <include name="WEB_50"/>
       <include name="WEB_51"/>
       <include name="WEB_52"/>
       <include name="WEB_52_1"/>
       <include name="WEB_52_2"/>
       <include name="WEB_52_3"/>
       <include name="WEB_52_4"/>
       <include name="WEB_52_5"/>
       <include name="WEB_53"/>
       <include name="WEB_54"/>
       <include name="WEB_55"/>
       <include name="WEB_56"/>
       <include name="WEB_57"/>
       <include name="WEB_58"/>
       <include name="WEB_59"/>
       <include name="WEB_60"/>
       <include name="WEB_61"/>
       <include name="WEB_62"/>
       <include name="WEB_63"/>
       <include name="WEB_64"/>
       <include name="WEB_65"/>
       <include name="WEB_66"/>
       <include name="WEB_67"/>
       <include name="WEB_68"/>
       <include name="WEB_69"/>
       <include name="WEB_70"/>
       <include name="WEB_71"/>
       
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
